{% extends "app/layout.html" %}
{% block content %}

<main>
      <div class='container-contact'>
        <div id='address'>
          <h3>95 Cape Hill</h3>
          <h3>Birmingham</h3>
          <h4>B66 4SA</h4>
          <h4>UK</h4>
          <h3>+44 1 21 79 43 84</h3>
        </div>
        <div id='map'>map</div>
      </div>
    </main>

    <footer>
      <div class='container-footer'>
        <div id='footer-col-1'>
          <ul>
            <li>&nbsp;</li>
          </ul>
        </div>
        <div id='footer-col-2'>
          <ul>
            <li>GDPR compliant</li>
            <li>&nbsp;</li>
            <li>All rights reserved</li>
          </ul>
        </div>
        <div id='footer-col-3'>
          <ul>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&copy; Solaro {{ year }}</li>
          </ul>
        </div>
      </div>
    </footer>

    {% endblock %}




