{% extends "app/layout.html" %}
{% block content %}

<main>
      <div class='container-products'>
        <div class='product-item'>
          <img class='product-item-img' src='/static/images/products_01b.jpg' alt='Design rear'>
          <img class='product-item-img translate' src='/static/images/products_01a.jpg' alt='Design front'>
          <div class='product-item-text translate-text'><h3>Design & tools selection</h3></div>
        </div>
        <div class='product-item'>
          <img class='product-item-img' src='/static/images/products_02b.jpg' alt='Design rear'>
          <img class='product-item-img translate' src='/static/images/products_02a.jpg' alt='Design front'>
          <div class='product-item-text translate-text'><h3>Superior quality materials</h3></div>
        </div>
        <div class='product-item'>
          <img class='product-item-img' src='/static/images/products_03b.jpg' alt='Design rear'>
          <img class='product-item-img translate' src='/static/images/products_03a.jpg' alt='Design front'>
          <div class='product-item-text'><h3>Alterations & modifications</h3></div>
        </div>
        <div class='product-item'>
          <img class='product-item-img' src='/static/images/products_04b.jpg' alt='Design rear'>
          <img class='product-item-img translate' src='/static/images/products_04a.jpg' alt='Design front'>
          <div class='product-item-text translate-text'><h3>Costumes manufacturing</h3></div>
        </div>
        <div class='product-item'>
          <img class='product-item-img' src='/static/images/products_05b.jpg' alt='Design rear'>
          <img class='product-item-img translate' src='/static/images/products_05a.jpg' alt='Design front'>
          <div class='product-item-text translate-text'><h3>Product fitting & final adjustments</h3></div>
        </div>
        <div class='product-item'>
          <img class='product-item-img' src='/static/images/products_06b.jpg' alt='Design rear'>
          <img class='product-item-img translate' src='/static/images/products_06a.jpg' alt='Design front'>
          <div class='product-item-text translate-text'><h3>Accessories selection</h3></div>
        </div>
      </div>
    </main>

    <footer>
      <div class='container-footer'>
        <div id='footer-col-1'>
          <ul>
            <li>&nbsp;</li>
          </ul>
        </div>
        <div id='footer-col-2'>
          <ul>
            <li>GDPR compliant</li>
            <li>&nbsp;</li>
            <li>All rights reserved</li>
          </ul>
        </div>
        <div id='footer-col-3'>
          <ul>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&copy; Solaro {{ year }}</li>
          </ul>
        </div>
      </div>
    </footer>
    
{% endblock %}

